<div class="main-admin">
  <p class="title-main">Produtos</p>
  <div class="content">

    <a  [routerLink]="['/admin/product', product.id]" class="product" *ngFor="let product of products" >
      <p class="status" [ngClass]="{
        'true': calcuteInventory(product),
        'false': !calcuteInventory(product)
        }">{{ calcuteInventory(product) === true ? "EM ESTOQUE" : 'APENAS POR ENCOMENDA' }}</p>
        <div class="img-product">
        <img src="{{product.image[0].url}}" alt="">
      </div>
      <div class="description">
        <p class="title-description"> {{ product.title }} 
          <span class="year">{{ product.year }}</span>
        </p>
        <p class="price">
          {{ product.price | currency: 'R$' }}
        </p>
        <div class="categories">
    
          <p class="category" *ngFor="let cat of product.category" > {{ cat.NomeCategoria }}</p>
          
        </div>
      </div>
    </a>

    
    
    

  </div>
</div>