$branco: #ECF0F1;
$cinza-claro: #C4C4C4;
$cinza-escuro: #34495E;
$cinza-black: #222f3e;
$cinza-black-white: #576574;
$roxo: #9B59B6;
$verde: #2ECC71;
$verde-escuro: #1aa855;
$vermelho: #E74C3C;
$vermelho-escuro: #b13a2d;

$font1: 'Recursive', sans-serif;
$font2: 'IBM Plex Sans', sans-serif;

/* SCROOL BAR */
::-webkit-scrollbar-track {
  background-color: $branco;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: $cinza-black;
}

.unavailable {
  height: 100vh;
  background-color: $cinza-black;
  padding: 0 20px;

  .img-logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 50%;
      overflow: cover;
    }
  }

  .ilustration {
    width: 100%;

    img {
      width: 100%;
      max-height: 450px;
      object-fit: contain;
    }
  }

  .text {
    color: $cinza-claro;
    font-family: $font1;
    text-align: center;
  }

}