<header>
  <div class="header-top">

    <div class="logo">
      <img src="assets/img/logo-completa.png" alt="">
    </div>

    <a href="" class="nav-button">

      <div class="btn-nav">
        <div class="btn-item"></div>
        <div class="btn-item"></div>
        <div class="btn-item"></div>
      </div>


    </a>

  </div>

  <div class="header-bottom">
    <div class="busca">
      <input type="text" placeholder="O que está procurando?">
      <button><img src="assets/icons/icon-search.svg" alt="" srcset=""></button>

    </div>

  </div>


</header>