<div class="product container-fluid container-lg">
  <div class="btn-options">
    <a class="btn btn-success" routerLink="/admin/product/new">Novo Produto</a>
    <a class="btn btn-primary" routerLink="/admin/product/edit/{{product.id}}">Editar</a>
    <a class="btn btn-danger" routerLink="/admin/product">Apagar</a>
  </div>
  <div class="img-product">
    
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
      <button 
      *ngFor="let image of product.image; let i = index"
      [ngClass]="{'active': i < 1}"
      type="button"
      data-bs-target="#carouselExampleIndicators" 
      [attr.data-bs-slide-to]="i" 
      aria-current="true"
      [attr.aria-label]="'Slide ' + i" 
      ></button>
      
      </div>
      <div class="carousel-inner">
        <div 
        *ngFor="let image of product.image; let i = index" 
        class="carousel-item"
        [ngClass]="{'active': i < 1}"
        >
          <img src="{{ image.url }}" class="" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
        <img src="assets/icons/seta-esquerda.svg" alt="">
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <img src="assets/icons/seta-direita.svg" alt="">
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
  <div class="details-product">
    <p class="title">{{ product.title }} {{ product.year }}</p>
    <p class="description">{{ product.description }}</p>
    <p class="price">{{ product.price | currency: 'R$' }}</p>
    <hr>
    <div class="sizes">
      <p class="title-sizes">Tamanhos</p>
      <div class="content-sizes">

        <p class="size" [ngClass]="{
          'true': checkInventory(product.inventoryPP),
          'false': !checkInventory(product.inventoryPP)
        }">PP: {{ product.inventoryPP }}</p>
        <p class="size" [ngClass]="{
          'true': checkInventory(product.inventoryP),
          'false': !checkInventory(product.inventoryP)
        }">P: {{ product.inventoryP }}</p>
        <p class="size" [ngClass]="{
          'true': checkInventory(product.inventoryM),
          'false': !checkInventory(product.inventoryM)
        }">M: {{ product.inventoryM }}</p>
        <p class="size" [ngClass]="{
          'true': checkInventory(product.inventoryG),
          'false': !checkInventory(product.inventoryG)
        }">G: {{ product.inventoryG }}</p>
        <p class="size" [ngClass]="{
          'true': checkInventory(product.inventoryGG),
          'false': !checkInventory(product.inventoryGG)
        }">GG: {{ product.inventoryGG }}</p>
        <p class="size" [ngClass]="{
          'true': checkInventory(product.inventoryEG),
          'false': !checkInventory(product.inventoryEG)
        }">EG: {{ product.inventoryEG }}</p>
        <p class="size" [ngClass]="{
          'true': checkInventory(product.inventoryEGG),
          'false': !checkInventory(product.inventoryEGG)
        }">EGG: {{ product.inventoryEGG }}</p>

      </div>

    </div>
    <hr>
    <div class="categories">
      <p class="title-categories">Categorias</p>
      <div class="content-categories">

        <p class="category" *ngFor="let cat of product.category">{{ cat.NomeCategoria }}</p>

      </div>
    </div>

  </div>

</div>


