<main>

  <p class="title-main">Produtos</p>

  <div class="content-product">

    <p class="carregamento" [ngClass]="{'true': contentLoaded,'false': !contentLoaded}">
      Carregando...</p>

    <a *ngFor=" let product of products" class="product">
      <p class="status true" [ngClass]="{'true': calcuteInventory(product),'false': !calcuteInventory(product)}">
        {{ calcuteInventory(product) === true ? "EM ESTOQUE" : "APENAS POR ENCOMENDA" }}
      </p>
      <div class="img-product" *ngIf="product.imgMain.length > 0">
        <img src="data:image/png;base64,{{product.imgMain[0].base64}}" alt="">
      </div>
      <div class="img-product" *ngIf="product.imgMain.length < 1">
        <img src="assets/img/default.png" alt="">
      </div>
      <div class="description">
        <p class="title-description"> {{ product.title }}
          <span class="year">{{ product.year }}</span>
        </p>
        <div class="price">
          <p class="avista">
            {{ product.price | currency: 'R$' }}
          </p>
          <p class="cartao">ou 3x {{ (product.price + 10 ) / 3 | currency: 'R$' }} </p>
        </div>
        <div class="categories">
          <p *ngFor="let category of product.categories" class="category"> {{ category.name }} </p>
        </div>
      </div>
    </a>

  </div>

</main>